
.container-show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-direction: row;

}


.img-game{
    padding-left: 40;
}


.text-show{
    /* width: 433px; */
    /* font-family: 'Libre Baskerville'; */
    font-family: 'sans-serif' !important;
    color: #023F3A;
    font-weight: bold;
}

