
.container-show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-direction: row;

}


.img-game{
    padding-left: 40;
}


.text-show{
    /* width: 433px; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
    color: white;
    font-weight: bold;
}

